#wp-post {
  p,h1,h2,h3,h4,h5,h6 {
    margin-bottom: 1rem;
  }
  b {
    font: 500;
  }
  figure {
    max-width: 6 00px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}